:root {
  --primary-color: #b273fe;
}

.container {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 1360px;
  width: 100%;
}

h1 {
  font-size: 3.9rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
}

.btn {
  border: solid 4px var(--primary-color);
  border-radius: 30px;
  font-size: 1.4rem;
  padding: 0.5em 3em;
  font-weight: bold;
  display: inline-block;
}

.btn-bg {
  background: var(--primary-color);
  color: white;
}

.btn-nobg {
  background: transparent;
  color: var(--primary-color);
}
