* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*************************
*
* General Styling
*
**************************/

:root {
  --primary-color: #b273fe;
}

.container {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 1360px;
  width: 100%;
}

h1 {
  font-size: 3.9rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.2em;
  color: #686868;
  max-width: 36em;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  color: black;
}

/*************************
*
* Layout
*
**************************/

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 2em 2em;
  display: flex;
  justify-content: space-between;
  transition: all 250ms ease;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 2em;
}

nav a {
  font-weight: bold;
  transition: all 250ms ease;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  background-image: url("../assets/circle.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-25%, -40%);
}

.intro-text {
  max-width: 545px;
}

.latest-review {
  position: relative;
}

.latest-review .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.latest-review .left {
  max-width: 630px;
  margin-right: 1em;
}

.latest-review .right {
  margin-left: 1em;
  position: relative;
}

.latest-review .blob {
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
  transform: translate(30%, -15%);
}

.latest-review .cover {
  width: 400px;
}

.review-meta {
  display: flex;
  margin-bottom: 1em;
}

.author-name {
  font-size: 1.5rem;
  color: #656565;
  margin-right: 1em;
}

.rating {
  display: flex;
}

.star-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.subpage-content {
  margin-top: 6em;
}

.subpage-content section {
  margin: 3em 0;
}

.all-reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  align-items: center;
}

.review-card {
  display: flex;
  position: relative;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 6em;
  margin-right: 5em;
  padding: 1em;
  box-shadow: 3px 5px 20px rgba(178, 115, 254, 0.3);
  justify-self: center;
  background-image: url("../assets/swoosh.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.review-card h2 {
  font-size: 1.5rem;
}

.review-card .left {
  width: 100%;
}

.review-card .review-meta {
  flex-direction: column;
  justify-content: start;
}

.review-card .star-list {
  justify-content: flex-start;
  margin-top: 0.25em;
}

.review-card .author-name {
  font-size: 1.1rem;
}

.review-card .right {
  position: absolute;
  right: -5em;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 12px;
}

.review-card .cover {
  max-width: 125px;
  border-radius: 12px;
}

.review-card .btn {
  font-size: 1.17rem;
}

.review-card .star {
  width: 16px;
}

.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
}

.review-container .cover {
  width: 400px;
}

.review-container .left {
  margin-right: 2em;
}

.review-container .right {
  margin-left: 2em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h3 {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
}

footer a {
  margin-bottom: 2em;
}

/*************************
*
* Elements
*
**************************/

.hero-bg {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.85;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.star {
  width: 20px;
}

.latest-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  z-index: -2;
  opacity: 0.5;
}

.single-bg {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
  z-index: -1;
  opacity: 0.5;
}

.cover {
  border-radius: 18px;
}

.latest-review.even .right::after {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  background: var(--primary-color);
  z-index: -1;
  bottom: 0;
  right: 0;
  border-radius: 360px;
  transform: translate(25%, 25%);
  opacity: 0.1;
}

.white {
  color: white;
  transition: color 0.25s ease;
}

.black {
  color: black;
  transition: color 0.25s ease;
}

.white-bg {
  background: white;
  transition: background 0.25s ease;
}

.no-bg {
  background: transparent;
  transition: background 0.25s ease;
}

/*************************
*
* Components
*
**************************/

.skip-nav {
  background: lightgray;
  padding: 1em;
  color: black;
  z-index: 999;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-nav:focus {
  position: fixed;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
}

.btn {
  border-radius: 30px;
  font-size: 1.4rem;
  padding: 0.5em 3em;
  font-weight: bold;
  display: inline-block;
}

.btn-bg {
  background: var(--primary-color);
  color: white;
}

.btn-nobg {
  background: transparent;
  color: var(--primary-color);
  box-shadow: 5px 8px 15px rgba(178, 115, 254, 0.3);
}

.lds-grid {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 5em auto;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--primary-color);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/*************************
*
* Media Queries
*
**************************/

@media only screen and (max-width: 1530px) {
  .hero-bg {
    right: -10%;
  }
}

@media only screen and (max-width: 1330px) {
  .hero-bg {
    right: -20%;
  }
}

@media only screen and (max-width: 1200px) {
  .hero-bg {
    right: -25%;
  }
}

@media only screen and (min-width: 1150px) and (max-height: 800px) {
  main {
    margin-top: 5em;
  }
}

@media only screen and (max-width: 1150px) {
  nav a {
    color: black !important;
  }

  .hero-bg {
    display: none !important;
  }
  .intro-text {
    max-width: 100%;
  }

  .hero::after {
    content: "";
    position: absolute;
    height: 400px;
    width: 150px;
    background-image: url("../assets/circle.svg");
    background-position: center left;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: 10em;
    right: 0;
  }
}

@media only screen and (max-width: 1060px) {
  .review-container .cover {
    max-width: 250px;
  }
}

@media only screen and (max-width: 820px) {
  html {
    font-size: 90%;
  }

  .latest-review {
    margin-top: 10em;
  }

  .latest-review .container {
    flex-direction: column;
    justify-content: center;
  }

  .latest-review .right {
    margin: 2em 0 0 0;
  }

  .latest-review .cover {
    max-width: 250px;
  }

  .latest-bg {
    top: -5em;
  }

  .latest-review .btn,
  .hero .btn {
    width: 100%;
    text-align: center;
  }

  footer {
    margin-top: 10em;
  }
}

@media only screen and (max-width: 768px) {
  .review-container {
    flex-direction: column;
  }

  .review-container .right {
    margin-top: 2em;
  }

  .latest-review .container {
    height: auto;
  }
  .latest-review:nth-child(2) .right::after {
    content: none;
  }
}

@media only screen and (max-width: 585px) {
  .review-card {
    margin-right: 0;
  }

  .review-card .right {
    right: 0;
  }

  .all-reviews {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 80%;
  }

  h1 {
    font-size: 3rem;
  }

  .review-card .left {
    width: 50%;
  }

  .review-meta {
    flex-direction: column;
    align-items: flex-start;
  }

  .star-list {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .hero::after {
    content: none;
  }
}
